<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiang.scheme">

    <application>

        <activity
            android:name=".SchemeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--够被浏览器安全使用的 activitie 必须支持这个类别 此Demo中非必须-->
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="chicha" />
            </intent-filter>
        </activity>
    </application>

</manifest>